<!DOCTYPE html>
<html>
<head>
  <title>EvalEngine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= yield :head %>
  <%= stylesheet_link_tag    "eval_engine/application", media: "all" %>
</head>
<body>
  <header class="ee-header">
    <%= link_to "EvalEngine", root_path, class: "ee-header__brand" %>
  </header>
  <main class="ee-main">
    <% if flash[:notice] %>
      <div class="ee-flash ee-flash--notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="ee-flash ee-flash--alert"><%= flash[:alert] %></div>
    <% end %>
    <%= yield %>
  </main>
</body>
</html>
